#
# Config file for collectd(1).
# Please read collectd.conf(5) for a list of options.
# http://collectd.org/
#

Hostname     "{{ inventory_hostname }}"
FQDNLookup   false
BaseDir      "/var/lib/collectd"
